@model AzureBuildsBrowser.Models.BuildsModel

@{
    ViewData["Title"] = "Builds";
}

<h3>Builds with <b>@Model.Tag</b> tag</h3>

<nav>
    <a href="/azdevops">Go up</a>
</nav>

<table>
    <tr>
        <th>Repo</th>
        <th>Branch</th>
        <th>Start</th>
        <th>Time</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var b in Model.Builds)
    {
        <tr>
            <td>@b.Repository.Name</td>
            <td>@b.SourceBranch</td>
            <td>@b.StartTime.ToString("g")</td>
            <td>@b.FinishTime.Subtract(b.StartTime).ToString("mm\\:ss")</td>
            <td>@b.Result</td>
            <td><a href="/azdevops/t/@(Model.Tag)/r/@(b.Repository.Name)">Artifacts</a></td>
            <td><a href="/azdevops/b/@b.Id" target="_blank">Pinned #@b.Id</a></td>
            <td><a href="@b.Links.Web.Href" target="_blank">Azure Devops</a></td>
        </tr>
    }
</table>