@model AzureBuildsBrowser.Models.RootModel
@{
    ViewData["Title"] = "Root";
}
<h3>Tags</h3>

<div>
    @foreach (var m in Model.Tags)
    {
        <div>
            <a href="/t/@m">@m</a>
        </div>
    }
</div>

<h3>Last builds</h3>

<table>
    <tr>
        <th>Repo</th>
        <th>Branch</th>
        <th>Start</th>
        <th>Time</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var b in Model.LastBuilds)
    {
        <tr>
            <td>@b.Repository.Name</td>
            <td>@b.SourceBranch</td>
            <td>@b.StartTime.ToString("g")</td>
            <td>@b.FinishTime.Subtract(b.StartTime).ToString("mm\\:ss")</td>
            <td>@b.Result</td>
            <td><a href="/b/@b.Id" target="_blank">Pinned #@b.Id</a></td>
            <td><a href="@b.Links.Web.Href" target="_blank">Azure Devops</a></td>
        </tr>
    }
</table>
